footer {
    background-color: #38744C;
}
.foot {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1);
}
.connection{
    grid-column: 1/2;
    margin: 0;
    padding: 0;
    margin-left: 101px;
    margin-top: 26px;
    
}
.connection .txtlink{
    text-decoration: none;
}
.connection p{
    color: white;
    font-size: 24px;
    font-family: Trebuchet MS;
    margin-bottom: 20px;
}
.txtlink{ 
    margin-bottom: 10px; 
}
.connection .txtlink span{
    color: white;
    font-size: 32px;
    
    font-family: Trebuchet MS;
}
.connection img{
    width: 72;
    height: 72;
    margin-right: 20px;
}

.infocol{
    grid-column: 2/3;
    margin: 0;
    padding: 0;
    margin-top: 34px;
    
}
.infocol a{
    text-decoration: none;
}
.elinf{
    margin-bottom: 5px;
}
.elinf span{
    display: inline;
    color: white;
    font-size: 24px;
    font-family: Trebuchet MS;
}
.col3{
    grid-column: 3/4;
    margin: 0;
    padding: 0;
    margin-top: 26px; 
}
.elcol{
    padding-bottom: 40px;
}
.elcol a{
    text-decoration: none;
}
.elcol span{
    color: white;
    font-size: 32px;
    font-family: Trebuchet MS;
}

.col4{
    grid-column: 4/5;
    margin: 0;
    padding: 0;
    margin-top: 26px;
}



.license{
    grid-column: 5/6;
    margin: 0;
    padding: 0;
    margin-top: 34px;
}
.license a{
    text-decoration: none;
}
.footend p{
    text-align: center;
    color: rgb(255, 255, 255, 0.4);
    
}

