
body {
    margin: 0;
    padding: 0;
}    
.top{
    height: 92px;
    background-color: #38744C;
}

.nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #38744C;
  
}
.nav .ico{
    margin: 10px;
    padding: 0;
    width: 72px;
    height: 72px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2); 
}
.ico:hover {
    background-color: #34C37A;
}

.ico img{
    margin: 0;
    padding: 0;
    padding: 4px;
    width: 65px;
    height: 65px;
}
.ico .logo{
    margin: 0;
    padding: 0;
    width: 78px;
    height: 78px;
}
.navel{
    position: relative;
    
}

.navel a{
  
    display: flex;
    align-items: center;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.navel{
    display: flex;
    justify-items: center;
    align-items: center;
    
    width: 303px;
    height: 72px;
    margin-right: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.navel a p{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    font-family: Trebuchet MS;
}

.navel:hover {
    background-color: #34C37A;
}

.eltxt {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-decoration: none;
    font-family: Trebuchet MS;
}