*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.oswald {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.felipa-regular {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
}


.timepanel{
    background-color: #F0F8F0;
    height: 40px;
}
a{
    text-decoration: none;
}
a:hover span{
    color: #009344;
}
span {
    font-family: Oswald;
    font-size: 24px;
}
p{
    font-family: Oswald;
    font-size: 24px;
}
.timepanel .day{
    color: #009344;
}
.timepanel img{
    padding-left: 1416px;
}
.navpanel{
    display: flex;
    height: 120px;
    background-color: #EBEBEB;
    padding-left: 368px;
}
.logo{
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}
.logo img{
    padding: 0;
    margin: 0;
}
.logo .name{
    color: #009344;
    font-size: 40px;
    font-family: Felipa;
    height: 50px;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    margin-left: 22px;
}
.logo .botext{
    color: #009344;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.navbar{
    margin-left: 270px;
}
.navbar span{
    margin-left: 20px;
    color: black;
}
.navbar .tel{
    margin-left: 20px;
}
.phones p{
    color: black;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
.phones a:hover p{
    color: #009344;
}

.slider{
    display: flex;
    height: 500px;
    background-color: #C4C4C4;
    padding-left: 235px;
    padding-right: 235px;
    vertical-align: top;
}
.slidebt{
    display: flex;
    align-items: center;
}
.slide{
    display: flex;
    flex-direction: column;
    margin-left: 77px;
}
.txts{
    width: 727px;
    display: flex;
}

.disc{
    margin: 0;
    padding-top: 34px;
    font-size: 64px;
    color: #009344;
}
.discnum{
    color: #009344;
    font-size: 180px;
    height: 160px;
    padding: 0;
    margin: 0;
}
.centext{
    margin-left: 48px;
    margin-top: 92px;
}
.seal{
    vertical-align: top;
    padding: 0;
    font-size: 50px;
    color: #009344;
    width: 305px;
}
.links{
    display: flex;
}
.links .writel{
    padding: 20px;
    background-color: #009344;
    border-radius: 20px;
    margin-right: 30px  ;
}
.links .write{
    color: white;  
}
.links .more{
    color: #009344;
}
.rigbt{
    width: 460px;
    margin-right: 62px;
}

.line{
    height: 16px;
    background-color: rgba(0, 147, 69, 0.4);
}

section{
    margin-left: 340px;
    margin-top: 60px;
    display: flex;
}

h2{
    font-size: 48px;
    font-family: Oswald;
}
h3{
    font-size: 24px;
    font-family: Oswald;
}
section p{
    text-align: justify;
}
.main{
    width: 866px;
}
.tooth1{
    margin-right: 16px;
    margin-bottom: 16px;
}
.tooth2{
    margin-bottom: 16px;
}
.tooth3{
    margin-right: 16px;
}
.sidebar{
    width: 356px;
    margin-left: 72px;
}

.accpoint span{
    margin-left: 14px;
    color: #58595B;
}

.accpoint .plus{
    float: right;
}
.child{
    margin-top: 20px;
}
.actions{
    margin-top: 60px;
}